.accountInformation {
    width: 40%;
    min-width: 400px;
    margin: 0;
    padding: 0 0 0 10%;
    display: block;
    box-sizing: border-box;
    float: left;
}
.addService {
    width: 80%;
    min-width: 400px;
    margin: 0 auto;
}
.passwordReset {
    width: 80%;
    min-width: 400px;
    margin: 0 auto;
}
.card {
    padding-left: 0;
}
.cardTitle {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.cardSubTitle {
    font-size: 12px;
    color: grey;
    text-align: left;
}
.cardReference {
    font-size: 1.17em;
    padding: 0.1em 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: left;
}
.fullContent {
    width: 80%;
    /* min-width: 400px; */
    margin: 0;
    padding: 0 0 0 10%;
    display: block;
    /* box-sizing: border-box; */
    float: left;
}
table {
    border-collapse: separate;
    border-spacing: 0px;
    border-width: 1px 0 0 1px;
    margin-bottom: 24px;
    width: 100%;
}
table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
th {
    border-width: 0 1px 1px 0;
    font-weight: bold;
    line-height: 24px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 10px
  }
  
  td {
    border-width: 0 1px 1px 0;
    padding: 10px;
  }
  
  tr:nth-child(odd) {
    background: #EEE;
  }