.buttonElement {
  width: 250px;
  height: 50px;
  background: rgb(200, 10, 175);
  font-size: 16px;
  font-weight: 700;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  display: block;
  margin: 15px auto;
}
.buttonElement:hover {
  cursor: pointer;
}