.inputElement {
  width: inherit;
  margin: 10px auto;
  box-sizing: border-box;
  text-align: center;
  display: block;
}
.inputLabel {
  font-size: 12px;
  color: black;
  width: 370px;
  margin: 0 auto;
  text-align: left;
}
.inputField {
  height: 40px;
  font-size: 16px;
  width: inherit;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
  border-width: 1px;
  border: solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
}
