.passwordChangeForm {
    margin: 30px 0;
}
.passwordChangeInput {
    height: 30px;
    width: 300px;
    margin: 10px 0;
    padding: 0;
    border: solid 1px;
    font-size: 16px;
    padding: 0 10px;
    display: block;
}
.passwordChangeButton {
    height: 30px;
    font-size: 16px;
    display: block;
    padding: 0;
    border-width: 1px;
    background: black;
    color: white;
    padding: 0 10px;
    border: none;
    margin: 0 0 30px;
}
.passwordChangeButton:hover {
    cursor: pointer;
}