.signUpFormWrapper {
  /*background: url(/static/media/bg.7ffb9cd7.jpg);*/
  height: 100%;
  width: 100%;
  text-align: center;
  float: left;
  background-size: cover;
}
.signUpForm {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
}
.signUpFormLabel {
  font-size: 24px;
  font-weight: 400;
  line-height: 60px;
  font-family: -apple-system, BlinkMacSystemFont;
}
.signUpFormInputWrapper {
  margin: 0;
  overflow: auto;
  padding: 0;
}
.signUpFormInput {
  height: 60px;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  border-radius: 0;
  display: block;
  background: #fff;
  border: 1px solid #e5e7ea;
  box-sizing: border-box;
  font-size: 16px;
}
.borderBox {
  height: 20px;
}
.signUpFormButton {
  height: 40px;
  min-width: 150px;
  box-sizing: border-box;
  margin: 10px;
  font-size: 16px;
}
